In [45]:
import pandas as pd
import numpy as np
import pickle
from sklearn import preprocessing, model_selection, linear_model

## Load The Data

In [8]:
#Load and checkout the data
df = pd.read_csv('student-mat.csv')
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [10]:
#Select specific columns
df = df[["sex", "age", "studytime", "failures","romantic", "goout", "Dalc", "Walc", "G1", "G2", "G3"]]
df

    sex  age  studytime  failures romantic  goout  Dalc  Walc  G1  G2  G3
0     F   18          2         0       no      4     1     1   5   6   6
1     F   17          2         0       no      3     1     1   5   5   6
2     F   15          2         3       no      2     2     3   7   8  10
3     F   15          3         0      yes      2     1     1  15  14  15
4     F   16          2         0       no      2     1     2   6  10  10
..   ..  ...        ...       ...      ...    ...   ...   ...  ..  ..  ..
390   M   20          2         2       no      4     4     5   9   9   9
391   M   17          1         0       no      5     3     4  14  16  16
392   M   21          1         3       no      3     3     3  10   8   7
393   M   18          1         0       no      1     3     4  11  12  10
394   M   19          1         0       no      3     3     3   8   9   9

[395 rows x 11 columns]

## Process The Data

In [73]:
#initiate preprocessor
le = preprocessing.LabelEncoder()

#change M/F to 1/0 on sex
sex = le.fit_transform(list(df["sex"]))

#change Y/N to 1/0 on romantic
romantic = le.fit_transform(list(df["romantic"]))

#show romantic column's new look
romantic

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0])

## Create Train/Test Arrays

In [68]:
#create input array
#zip up lists from previous step
X = list(zip(sex, df["age"], df["studytime"], df["failures"], romantic, df["goout"], df["Dalc"], df["Walc"], df["G1"], df["G2"]))

In [65]:
#create target array
y = df["G3"]

In [43]:
#split X and y to train and test datasets
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2)

## Training A Linear Regression Model

In [46]:
#Select Model Type
model = linear_model.LinearRegression()

#Train model
model.fit(X_train, y_train)

LinearRegression()

In [48]:
#Check Accuracy score
accuracy = model.score(X_test, y_test)
print(accuracy * 100)

77.7031192091983

### Train the model many times and store best one

In [61]:
#Create A Loop That Trains a model until accuracy > 90%
model = linear_model.LinearRegression()
accuracy = 0
runs = 0
while (accuracy < 0.9):
    X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2)
    model.fit(X_train, y_train)
    accuracy = model.score(X_test, y_test)
    runs += 1
    #when acceptable model is found, store it
    if (accuracy >= 0.9):
        print(accuracy)
        
        #open file for writing and "dump" model inside
        with open("marksmodel.pickle","wb") as f:
            pickle.dump(model, f)

#print number of trainings made
print("Trainings = ", runs)

0.9288938690379025
Trainings =  3

## Predicting

In [63]:
#Load Stored Model
pickle_in = open("marksmodel.pickle", "rb")
model = pickle.load(pickle_in)

In [75]:
#Make A prediction with order sex, age, studytime, failures, romantic, goout, Dalc, Walc, G1, G2
#Note M/F = 1/0 and Y/N = 1/0 from preprocessing

prediction = model.predict([[1,21,5,2,1,3,2,5,12,15]])
print(prediction)

[13.43564501]